.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  width: 90%;
  max-width: 430px;
  border-radius: 20px;

  height: 50px;
  padding-bottom: env(safe-area-inset-bottom);

  background: rgba(29, 29, 29, 0.779);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.764);
  z-index: 100;
}

.navItem {
  font-size: 24px;
  color: #aaa;
  text-decoration: none;
  transition: 0.2s;
}

.active {
  color: #fff201;
  transform: translateY(-4px);
}