.app {
  height: 100%;
  display: flex;
  flex-direction: column;

  background: #161616;
}

/* Центральная мобильная колонка */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px; /* эмуляция телефона */
  margin: 0 auto;

  background: #2e2e2e;
}

/* main растягивается */
.content {
  flex: 1;
  display: flex;

}