.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #161616;
  position: relative;
}

/* Контейнер контента */
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex: 1;
  overflow-y: auto; /* скролл для контента */
  background: #2E2E2E;
  padding: 16px;
  box-sizing: border-box;
}

/* Header */
.header {
  margin-bottom: 16px;
  font-weight: 600;
}

/* Content */
/* .content { */
  /* flex: 1 внутри контейнера не нужен, скролл управляется контейнером */
/* } */