.page {
  flex: 1;

  padding: 20px;
  padding-bottom: calc(90px + env(safe-area-inset-bottom));

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* карточки */
.content {
  width: 100%;
  min-height: 120px;
  background: #7a2cff;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}